@import '../variables.scss';

.main {
  background-color: $white-background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .publications {
    width: 50rem;
    max-width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;

    .line {
      width: 35rem;
      height: 2px;
      background-color: $background-color;
      border-radius: 30px;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .title {
      font-size: 1.7rem;
      font-weight: bold;
    }
  }
}
